<div class="container">
  <div class="jumbotron-fluid my-2 bg-white">
    <div class="col text-center">
    <h1 class="error-title m-4">Error 404</h1>
    </div>
      <div class="col text-center">
    <p class="lead m-4">We are sorry, but page you are looking for doesn't exist</p>
      </div>
    <hr class="my-3">
    <div class="col text-center">
    <p class="lead m-4">To return to home page click button below</p>
    </div>
    <div class="col text-center">
    <button class="btn btn-primary btn-lg active" routerLink="/home" role="button" data-toggle="button">HOME!</button>
    </div>
  </div>
</div>
