<section class="section-padding section-reservation-form">
  <div class="container">
    <div class="jumbotron jumbotron-fluid bg-white">
      <h1 class="display-4 text-center">Reservation form</h1>
      <hr class="my-3">
      <form class="mx-4" method="post">
        <div class="form-row">
          <div class="form-group col-12 col-md-6">
            <label class="">Time of reservation</label>
            <input class="form-control mb-2" type="datetime-local" placeholder="Time">
          </div>
          <div class="form-group col-12 col-md-6">
            <label class="">Duration of reservation</label>
            <input class="form-control mb-2" type="number" placeholder="Duration">
          </div>
          <div class="form-group col-12">
            <label class="">Number of lanes</label>
            <select class="form-control mb-2" type="number" placeholder="Lanes">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>
              <option>7</option>
              <option>8</option>
            </select>
          </div>
          <div class="form-group col-12 col-md-6">
            <button class="btn btn-outline-primary" (click)="submit()" type="submit">Reserve!</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>

<section class="section-padding section-reservation-table">
<div class="container">
  <div class="row">

  </div>
</div>
</section>
