<section class="section-padding section-reservation-form">
  <div class="container">
    <div class="jumbotron jumbotron-fluid bg-white">
      <h1 class="display-4 text-center">Reservation form</h1>
      <hr class="my-3">
      <form class="mx-4" name="form" novalidate>
        <div class="form-row">
          <div class="form-group col-12">
            <label class="">Time of reservation</label>
            <input class="form-control mb-2" required [(ngModel)]="reservation.timeFrom" type="datetime-local" min="1" max="8" placeholder="Time"  name="timeFrom">
          </div>
          <div class="form-group col-12">
            <label class="">Number of lanes</label>
            <input class="form-control mb-2" required [(ngModel)]="reservation.amount" #amount="ngModel" type="number" placeholder="Lanes"  name="amount">
          </div>
          <div class="form-group col-12 col-md-6">
            <button class="btn btn-outline-primary" (click)="submit()" type="submit">Reserve!</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>

<section class="section-padding section-reservation-table">
<div class="container">
  <div class="row">

  </div>
</div>
</section>
