.section-padding{
  padding: 90px 0;
}

.section-reservation-form{
  background: white;
}

.section-reservation-table{
  background: #f9f9f9;
}

.jumbotron-class{
  display: block;
  border: 1px solid black;
  border-radius: 5px;
}

