<section class=" section-padding section-title-image">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6">

      </div>
    </div>
  </div>
</section>

<section class="section-padding section-pool-introduction">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="block-headline-text">
          <h2 class="title text-center text-uppercase"><a class="text-decoration-none" routerLink="/swimming">swimming</a></h2>
        </div>
      </div>
      <div class="col-12 col-lg-6 offset-3">
        <div class="block-headline-text">
          <p class="text text-center">In our swimming facility we offer our clients 2 pools - outdoor 10 lane 50meter swimming pool and indoor 8 lane 25meter swimming pool.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-padding section-pool-choose">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-5 mr-auto my-2 my-lg-0">
        <div class="card">
          <a class="" routerLink="bigpool">
            <div class="card-body">
              <img src="https://cdn.webnoviny.sk/sites/3/2015/11/plavaren_sita-640x361.jpg" alt="BigPool" class="img-fluid">
              <p class="card-text text-center my-2">50m Swimming Pool</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-12 col-lg-5 mr-auto my-2 my-lg-0">
        <div class="card">
          <a class="" routerLink="smallpool">
            <div class="card-body">
            <img src="https://cdn.webnoviny.sk/sites/3/2015/11/plavaren_sita-640x361.jpg" alt="SmallPool" class="img-fluid">
            <p class="card-text text-center my-2">25m Swimming Pool</p>
          </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
