<section class="section-contact-us section-padding">
  <div class="container">
    <header class="mb-6">
      <div class="row">
        <div class="col-12 col-lg-6 mx-auto">
          <div class="block-headline-text text-center">
            <h2 class="title">Contact Us</h2>
            <p class="text">Send us an email if you have any problems or questions. Our customer service will gladly answer your questions and demands</p>
          </div>
        </div>
      </div>
    </header>

    <div class="row">

      <div class="col-12 col-lg-6 my-2 my-lg-0">
        <form>
          <div class="form-row">
            <div class="form-group col-12 col-md-6 my-2">
              <input type="text" class="form-control px-4" placeholder="Name" pattern="[A-Z]{1}.[A-Za-z-]{0,} [A-Z]{1}.[A-Za-z-]{0,}" required>
            </div>
            <div class="form-group col-12 col-md-6 my-2">
              <input type="tel" class="form-control px-4" placeholder="Phone" pattern="[0-9]{10}">
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-12 col-md-6 my-2">
              <input type="email" class="form-control px-4" id="inputEmail" placeholder="E-mail" required>
            </div>
            <div class="form-group col-12 col-md-6 my-2">
              <input type="number" class="form-control px-4" id="Budget" placeholder="Budget">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-12 my-2">
              <textarea type="text" class="text-area form-control px-4" name="Text-area" id="TextArea1" placeholder="Your Message" minlength="10" maxlength="500"></textarea>
            </div>
          </div>

          <button type="submit" class="btn my-2">Send Message</button>
        </form>
      </div>

      <div class="col-12 col-lg-6 my-3 my-lg-1">
        <img src="https://www.fabiorabelo.com/assets_ibgc/images/contact.png" alt="contact-us-img" class="img-fluid"/>
      </div>
    </div>
  </div>
</section>

<section class="section-padding section-contact-swimming">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="block-headline-text">
          <h2 class="title text-center"><a class="text-decoration-none" routerLink="/swimming">Swimming</a></h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-6">
        <address class="card">
         <div class="card-body">
           <h5 class="card-title">Swimming services</h5>
           <h6 class="card-subtitle text-muted">Contact info</h6>
           <p class="card-text font-weight-bold">Radovan Pieter</p>
           <i class="zmdi zmdi-phone"> Phone: <a href="tel:+421 901 234 789" class="card-link">+421 901 234 789</a></i><br>
           <i class="zmdi zmdi-email"> E-mail: <a href="mailto:swimming@andromeda-example.com" class="card-link">Swimming</a></i>
           <p class="card-text">Mountaine 10/A, 921 01 Piešťany</p>
         </div>
        </address>
      </div>

      <div class="col-12 col-lg-6">
        <table class="table table-hover my-lg-0 my-2">
          <caption>Swimming Opening Hours</caption>
          <thead>
          <tr>
            <th scope="col">Opening Hours</th>
            <th scope="col">Swimming</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Monday - Friday</td>
            <td>09am - 9pm</td>
          </tr>
          <tr>
            <td>Saturday - Sunday</td>
            <td>08am - 8pm</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>

<section class="section-padding section-contact-gym">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="block-headline-text">
          <h2 class="title text-center"><a class="text-decoration-none" routerLink="/gym">Gym</a></h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-6">
        <address class="card">
          <div class="card-body">
            <h5 class="card-title">Gyms services</h5>
            <h6 class="card-subtitle text-muted">Contact info</h6>
            <p class="card-text font-weight-bold">Peter Nice</p>
            <i class="zmdi zmdi-phone"> Phone: <a href="tel:+421 901 456 798" class="card-link">+421 901 456 789</a></i><br>
            <i class="zmdi zmdi-email"> E-mail: <a href="mailto:gyms@andromeda-example.com" class="card-link">Gym</a></i>
            <p class="card-text">Mountaine 10/B, 921 01 Piešťany</p>
          </div>
        </address>
      </div>

      <div class="col-12 col-lg-6">
        <table class="table table-hover my-lg-0 my-2">
          <caption>Gyms Opening Hours</caption>
          <thead>
          <tr>
            <th scope="col">Opening Hours</th>
            <th scope="col">Gyms</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Monday - Friday</td>
            <td>08am - 8pm</td>
          </tr>
          <tr>
            <td>Saturday - Sunday</td>
            <td>09am - 8pm</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>

    <section class="section-padding section-contact-fitness">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="block-headline-text">
              <h2 class="title text-center"><a class="text-decoration-none" routerLink="/fitness">Fitness</a></h2>
            </div>
          </div>
        </div>
    <div class="row">
      <div class="col-12 col-lg-6">
        <address class="card">
          <div class="card-body">
            <h5 class="card-title">Fitness services</h5>
            <h6 class="card-subtitle text-muted">Contact info</h6>
            <p class="card-text font-weight-bold">John Doe</p>
            <i class="zmdi zmdi-phone"> Phone: <a href="tel:+421 901 987 654" class="card-link">+421 901 987 654</a></i><br>
            <i class="zmdi zmdi-email"> E-mail: <a href="mailto:fitness@andromeda-example.com" class="card-link">Fitness</a></i>
            <p class="card-text">Mountaine 10/C, 921 01 Piešťany</p>
          </div>
        </address>
      </div>

      <div class="col-12 col-lg-6">
        <table class="table table-hover my-lg-0 my-2">
          <caption>Fitness Opening hours</caption>
          <thead>
          <tr>
            <th scope="col">Opening Hours</th>
            <th scope="col">Fitness</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Monday - Friday</td>
            <td>06am - 9pm</td>
          </tr>
          <tr>
            <td>Saturday - Sunday</td>
            <td>08am - 7pm</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</section>
