<section class="section-padding section-register">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h2 class="text- text-uppercase text-center">register form</h2>
          </div>
          <div class="card-body">
            <form>
              <div class="form-row">
              <input class="form-control m-2 col" placeholder="Username" type="text">
              </div>
              <div class="form-row">
              <input class="form-control m-2 col" placeholder="Name" type="text">
              <input class="form-control m-2 col" placeholder="Surname" type="text">
              </div>
              <div class="form-row">
              <input class="form-control m-2 col" placeholder="Password" type="password">
              <input class="form-control m-2 col" placeholder="Password Check" type="password">
              </div>
              <div class="form-row">
              <select class="form-control m-2 col-5">
                <option selected>Choose Gender</option>
                <option>Male</option>
                <option>Female</option>
                <option>Other</option>
                <option>Don't want to select</option>
              </select>
              </div>
            </form>
            <button type="submit" class="btn btn-primary m-2">Register</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
